.background {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(0.75) blur(15px);
}

body {
  margin: 0;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 9;
  text-align: center;
}

.desc {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

.desc.dark {
  background-color: #040d12;
  color: white;
}
.desc img {
  max-width: 100%; /* Ensure images don't stretch beyond their original size */
}

#nav {
  float: left;
  font-family: "Poppins", sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-size-adjust: auto;
  padding: 14px 16px;
  text-decoration: none;
}

@keyframes tabhover {
  to {
    background-color: #fd0000;
  }
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  animation: tabhover 0.125s;
  animation-fill-mode: forwards;
}

.active {
  background-color: #c70000;
}

#titletext {
  height: 100px;
  text-align: center;
  padding-top: 6%;
  background-image: linear-gradient(45deg, #ff0000, #c70000);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  max-width: 100%;
}

body.dark {
  background-color: #040d12;
  color: white;
}

#discordlogo {
  position: absolute;
  top: 5px;
  right: 5px;
}
